# App
NODE_ENV=production
PORT=3000

# Postgres (en Docker)
POSTGRES_USER=meteo
POSTGRES_PASSWORD=canvia-aqui
POSTGRES_DB=meteo
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ── ACA: codis i noms ─────────────────────────────────────
ACA_CODI_CARDENER=251116-005
ACA_CODI_VALLS=251116-004
ACA_CODI_LLOSA=081419-003

ACA_NOM_CARDENER=Cardener
ACA_NOM_VALLS=Valls
ACA_NOM_LLOSA=La Llosa del Cavall

ACA_CODI_LLOSA_CABAL=081419-003
ACA_CODI_LLOSA_CAPACITAT=081419-003

PREVI_LAT=42.1371721
PREVI_LON=1.5851171
PREVI_MODEL=icon
PREVI_SOURCE=open-meteo
PREVI_STATION_CODE=home
PREVI_HOURS=48
//PREVI_STATION_CODE el pots deixar a home o el mateix codi que uses a ESTACIO_CODI.