:80 {
  encode gzip zstd

  # API PYTHON (manté /api/v1/...)
  handle /api/v1/* {
    reverse_proxy api_py:8000
  }

  # API legacy node (si la vols)
  handle /api/* {
    reverse_proxy backend:3000
  }

  # WEB METEO a /meteo
  handle /meteo* {
    root * /srv
    try_files {path} /meteo/index.html
    file_server
  }

  # (opcional) redirigir / -> /meteo
  handle {
    redir / /meteo 302
  }
}
