tecnolord.cat, www.tecnolord.cat {
  encode gzip zstd

  @root path /
  redir @root /meteo/ 302

  @py path /api/v1/kpis* /api/v1/forecast* /health
  handle @py {
    reverse_proxy api_py:8000
  }

  @api path /api/* /api/v1/*
  handle @api {
    reverse_proxy backend:3000
  }

  handle_path /meteo* {
    root * /srv
    try_files {path} /index.html
    file_server
  }

  handle / {
    redir /meteo/ 302
  }
}

stats.tecnolord.cat {
  encode gzip zstd
  reverse_proxy umami:3000
}
